<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/data.css') }}">
    <title>B-Cycle Data Post</title>
</head>
<body>
    <div class="table-title">
        <h3>Query Data</h3>
    </div>
    <table class="table-fill">
        <thead>
            <tr>
                {% for col in col_values %}
                <th class="text-left">{{col}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody class="table-hover">
            {% for items in data %}
            <tr>
                {% for col in items %}
                <td class="text-left">{{ col }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>